<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
  <md-toolbar color="primary">
      <span>Networked media center</span>
      <span class="example-spacer"></span>
      <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>
      
  </md-toolbar>
    
  <md-menu #appMenu="mdMenu">
    <button md-menu-item> Settings </button>
    <button md-menu-item> Help </button>
  </md-menu>

  <router-outlet></router-outlet>
</div>

