<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-dark scrolling-navbar" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" (click)="navigate('home')"><strong>Media center app</strong></a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" mdbRippleRadius [ngClass]="{'active': currentMenu === 'home'}">
                <a class="nav-link" (click)="navigate('home')">Home</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius [ngClass]="{'active': currentMenu === 'movies'}">
                <a class="nav-link" (click)="navigate('movies')">Videos</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius [ngClass]="{'active': currentMenu === 'musics'}">
                <a class="nav-link" (click)="navigate('musics')" disabled>Musics</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius [ngClass]="{'active': currentMenu === 'photos'}">
                <a class="nav-link" (click)="navigate('photos')" disabled>Photos</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius [ngClass]="{'active': currentMenu === 'settings'}">
                <a class="nav-link" (click)="navigate('settings')">Settings</a>
            </li>
        </ul>
    </links>
</mdb-navbar>
<!-- Main -->
<main>
    <div class="container" >
        <div class="row mt-5 pt-5">
          <div class="col text-center">
            <router-outlet></router-outlet>
          </div>
        </div>
    </div>
</main>
<!-- /.Main -->