<mat-grid-list cols="5" gutterSize="15px">
  <mat-grid-tile *ngFor="let movie of movies | async" (click) = onSelect(movie)
    [class.selected]="movie === selectedMovie"
    [class.hover]="hover === true"
    (mouseenter)="hover = true"
    (mouseleave)="hover = false">
    <img [alt]="movie.metadata.imageUrl" [src]="movie.metadata.imageUrl">
    <mat-grid-tile-footer>
      <h3 md-line>{{movie.metadata.title}}</h3>
      <span md-line>{{movie.fileName}}</span>
      <span md-line>{{movie.directory}}</span>
      <md-icon>star_border</md-icon>
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>